<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/main.css">

    <title>Patanisho login</title>
</head>
<body>
    <div class="allSection">
        <div class="left">
            <div class="loginAndSignup">
              <div class="header">
                <h4>Welcome Back, We missed you!</h4>
              </div>


                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" id="inputEmail" placeholder="eg: Johndoe@gmail.com">
                    </div>
                  </div>
                
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-5">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password">
                    </div>
                  </div>

                  <br>
                  <button class="btn btn-primary" id="signUp">login</button>
            </div>
            <br>

            <a href="../signup.html">Don't have an Account?</a>
           

        </div>
        <div class="right">

        </div>
    </div>
    
</body>
</html>